<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tes</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
<ion-item>
  <ion-label>District</ion-label>
  <ion-input [(ngModel)]='district'></ion-input>
</ion-item>
<ion-item>
  <ion-label>Subdistrict</ion-label>
  <ion-input [(ngModel)]='subdistrict'></ion-input>
</ion-item>
<ion-button expand='full' (click)='getWeatherData()'>Submit</ion-button>


</ion-card>

<div *ngIf='weather$ | async as ans'>
<ion-card *ngFor='let item of ans.data'>
    <ion-card-content >
      Time: {{item.datetime}}
      <br/>
      Temperature: {{item.temp2m}}
      <br/>
      Weather: {{item.weather}}
    </ion-card-content>
  
  </ion-card>
</div>
</ion-content>
